#messagesDiv {
    border-left: 1px solid gray;
    width: 20%;
    right: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    font-size: 1.25rem;
}

#baseinput {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    border-top: 1px solid gray;
    font-size: 1.25rem;
    height: 55px;
    padding: 0 10px;

    color: white;
    background: black;
}

.message {
    padding: 2px 5px;
    word-wrap: break-word;
}

#messages :nth-child(odd) {
    background: #222;
}

.controls {
    position: relative;
    bottom: 0;
}