#calendar {
    height: 100%;
    width: 100%;
    font-size: 3.5vw;
}

#calendarContain {
    display: table-cell;
    vertical-align: middle;
    text-transform: capitalize;
}

/*  Width is relative to 100% body width, not 80%, shoutbox is pos:abs */
.calendarDate, .calendarTime {
    width: 15%;
}

.calendarSummary {
    width: 50%;
    text-align: left;
}

.calendarEventToday {
    color: lightcoral;
}