#calendar {
    height: 100%;
    width: 100%;
    font-size: 3.5vw;
    word-wrap: break-word;
    word-break: break-all;
}

#calendarContain {
    display: table-cell;
    vertical-align: middle;
    text-transform: capitalize;
}

/*  Width is relative to 100% body width, not 80%, shoutbox is pos:abs */
.calendarDate, .calendarTime {
    text-align: left;
}

.calendarTime {
    padding-left: 10px;
}

.calendarSummary {
    text-align: left;
    padding-left: 10px;
}

.calendarEventToday {
    color: lightcoral;
}