#calendarContainer {
    position: absolute;
    width: 70%;
    height: 50%;
    box-sizing: border-box;
}

#authorize-div {
    position: absolute;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    font-size: 4vw;
}

#authorize-button {
    z-index: 1;
    position: relative;
}