#calendar, #authorize-div {
    position: absolute;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    font-size: 4vw;
}

#authorize-button {
    z-index: 1;
    position: relative;
}

#calendar {
    text-align: center;
    display: table;
}

#calendarContain {
    display: table-cell;
    vertical-align: middle;
    text-transform: capitalize;
}